* {
  box-sizing: border-box;
}

header {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-image: url('./pic/hal-gatewood-_jbClosDsD4-unsplash.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  
}



.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}



body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  
}

#drug-info {
  width: 100%;
}


.drug-box {
  padding: 5px 15px;
  margin-top: 2rem;
  width: 100%;
  background-color: lightgrey;
}

.drug-box p{
  font-weight: 300;
}

header h1 {
  font-size: 3rem;
  
}

header form {
  
  position: relative;
  width: 500px;
  max-width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form input {
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
  margin-bottom: 30px;
}


button {
  cursor: pointer;
}

#searcher {
  position: absolute;
  background-color: darkgray;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 13px 30px;
  right: 2px;
  top: 2px;
}

#clear {
  position: relative;
  background-color: darkgray;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 13px 30px;
  top: 100px;
  margin: 30px;
}

button:active {
  transform: scale(0.95);
}

.message {
  padding: 30px;
  font-weight: 400;
}